*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,html{
	font-family:微软雅黑;
	width: 100%;
}
@font-face {
	font-family: 方正兰亭1;
	src:url("../fonts/方正兰亭黑简体.TTF");
}
@font-face {
	font-family: 方正兰亭2;
	src:url("../fonts/方正兰亭粗黑简体.TTF");
}

.banner{
	
}



.container .top{
	width: 72%;
	margin: 0 auto;
	font-family: 微软雅黑;
}
.container .center{
	width: 100%;
	margin-top: 88px;
	height: 215px;
	background-image: url(../images/wyy/container.png);
	background-repeat: repeat-x;
	font-family: 微软雅黑;
	color: #fff;
}
.container .center img{
	width: 100%;
}
.container .center .c-c-num{
	font-size: 30px;
	text-align: center;
	padding-top: 39px;
}
.container .center .c-c-time{
	font-size: 16px;
	text-align: center;
	margin-top: 15px;
}
.container .center .c-c-btn{
	font-size: 18px;
	height: 40px;
	width: 12%;
	border: 1px solid #fff;
	margin: 0 auto;
	line-height: 40px;
	text-align: center;
	margin-top: 38px;
}
.container .center .c-c-btn:hover{
	color: #1996c8;
	background-color: #fff;
}
.container .bottom{
	width: 72%;
	margin: 0 auto;
	font-family: 微软雅黑;
}
.container .top .title{
	height: 24px;
	border-left: 2px solid #1996c8;
	font-size: 24px;
	line-height: 24px;
	color: #434343;
	margin-top: 62px;
	margin-bottom: 20px;
	padding-left: 1%;
}
.container .top .table-one .title{
	margin-top: 69px;
}
.container .top table{
	border-collapse: collapse;
	width: 100%;
}
.container .top .table-three .pctable{
	width: 66.6%;
}
.container .top .table-three .pctable td,.container .top .table-three .pctable th{
	width: 16.6%;
	text-align: center;
}
.container .top .table-two .pctable td,.container .top .table-two .pctable th{
	width: 16.6%;
	text-align: center;
}
.container .top .table-one table .aside{
	width: 16.6%;
	text-align: center;
}
.container .top .table-one table td{
	padding-left: 5%;
	padding-right: 6.5%;
	font-size: 11%;
	color: #767676;
}
.container .top .table-one table th{
	font-size: 13%;
	color: #5a5a5a;
}
.container .top	table td,table th{
	border: 1px solid #cdcdcd;
	height: 55px;
	line-height: 55px;
}
.container .top	.table-one table .lineheight{
	line-height: 25px;
}
.container .top	.pctable th{
	font-size: 13%;
	color: #5a5a5a;
}
.container .top	.pctable td{
	font-size: 11%;
	color: #767676;
}
.container .top p{
	color: #adadad;
	font-size: 14px;
}



.container .bottom .title{
	height: 24px;
	border-left: 2px solid #1996c8;
	font-size: 24px;
	line-height: 24px;
	color: #434343;
	margin-bottom: 31px;
	margin-top: 65px;
	padding-left: 1%;
}
.container .bottom	table{
	border-collapse: collapse;
	width: 100%;
}
.container .bottom	table td,table th{
	border: 1px solid #cdcdcd;
	height: 55px;
	line-height: 55px;
	text-align: center;
}
.container .bottom	.pctable td{
	font-size: 11%;
	color: #767676;
}
.container .bottom	.pctable th{
	font-size: 13%;
	color: #5a5a5a;
}
.container .bottom button{
	height: 40px;
	width: 15.5%;
	background-color: #1996c8;
	font-size: 18px;
	font-family: 微软雅黑;
	color: #fff;
	text-align: center;
	line-height: 40px;
	display: block;
	margin: 0 auto;
	border: none;
	margin-top: 47px;
}
.footer{
	width: 100%;
	border-top: 1px solid #e5e5e5;
	margin-top: 79px;
}
.container .top .table-two .mbtable{
	display: none;
} 
.container .top .table-three .mbtable{
	display: none;
} 
.container .bottom .mbtable{
	display: none;
} 


@media screen and (max-width: 1080px){





	.container .top{
		width: 93%;
		margin: 0 auto;
	}
	.container .bottom{
		width: 93%;
		margin: 0 auto;
	}
	.container .top .title{
		font-size: 0.6rem;
		margin-bottom: 0.4rem;
		height: 0.6rem;
		border-left: 0.04rem solid #1996c8;
		line-height: 0.6rem;
		padding-left: 0.24rem;
	}
	.container .top .table-one .title{
		margin-top: 0.74rem;
	}
	.container .top .table-two .title{
		margin-top: 0.92rem;
	}
	.container .top .table-three .title{
		margin-top: 0.75rem;
	}
	.container .top p{
		font-size: 0.14rem;
		margin-top: 0.24rem;
	}
	.container .top .table-one table th{
		font-size: 0.33rem;
		font-family: 微软雅黑;
		color: #5a5a5a;
		text-align: center;
		width: 2.47rem !important;
	}
	.container .top .table-one table td{
		line-height: 0.43rem;
		font-size: 0.3rem;
		width: 7.51rem;
		padding: 0.3rem 0.54rem 0.34rem 0.62rem;
	}
	.container .top .table-one table .lineheight{
		line-height: 0.43rem;
	}
	.container .top .table-two .pctable{
		display: none;
	} 
	.container .top .table-three .pctable{
		display: none;
	} 
	.container .bottom .pctable{
		display: none;
	}
	.footer{
		display: none;
	}
	.container .top .table-two .mbtable{
		display: block;
	} 
	.container .top .table-three .mbtable{
		display: block;
	} 
	.container .bottom .mbtable{
		display: block;
	}
	.container .mbtable th{
		font-size: 0.33rem;
		color: #5a5a5a;
	}
	.container .mbtable td{
		font-size: 0.3rem;
		color: #767676;
	}
	.container .top .table-two .mbtable th,.container .top .table-three .mbtable th{
		width: 3.71rem;
		background-color: #f3f3f3;
		text-align: left;
		padding-left: 0.53rem;
	}
	.container .top .table-two .mbtable td,.container .top .table-three .mbtable td{
		width: 6.35rem;
		padding-left: 0.57rem;
	}





	.container .center{
		height: 5.4rem;
		width: 100%;
		background-image: url(../images/wyy/mbcontainer.png);
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		margin-top: 0.89rem;
	}
	.container .center .c-c-num{
		font-size: 0.6rem;
		padding-top: 0.78rem;
	}
	.container .center .c-c-time{
		font-size: 0.3rem;
		margin-top: 0.39rem;
	}
	.container .center .c-c-btn{
		font-size: 0.48rem;
		width: 5.04rem;
		height: 1.04rem;
		line-height: 1.04rem;
		margin: 0 auto;
		margin-top: 0.54rem;
	}
	.container .center p span{
		display: block;
	}
	.container .bottom .title{
		font-size: 0.6rem;
		margin-top: 0.92rem;
		margin-bottom: 1.15rem;
		height: 0.6rem;
		border-left: 0.04rem solid #1996c8;
		line-height: 0.6rem;
		padding-left: 0.24rem;
	}
	.container .bottom .title span{
		display: block;
		margin-top: 0.19rem;
	}
	.container .bottom	.mbtable{
		border-collapse: collapse;
		width: 100%;
	}
	.container .bottom	.mbtable th{
		border: 1px solid #cdcdcd;
		border-right: 0px;
		width: 4.13rem;
		padding-left: 0.22rem;
		height: 1.04rem;
		text-align: left;
	}
	.container .bottom	.mbtable td{
		width: 5.95rem;
		border: 1px solid #cdcdcd;
		border-left: 0px;
		text-align: left;
	}
	.container .bottom button{
		width: 5rem;
		height: 1rem;
		margin-top: 1rem;
		font-size: 0.48rem;
		line-height: 1rem;
		margin-bottom: 1.26rem;
	}
}